Package: com.samburns.chompsms
Name: ChompSMS
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Sam Burns
Author: Sam Burns
Section: Tweaks
